<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/LoginStyle.css"/>

    <script>
        function loginLaunch() {
            $("#login-modal").modal();
        }

        function registerLaunch() {
            $('#register-modal').modal();
        }
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("World's Greatest Bank Ledger", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav linkList">
                    <li>&nbsp;</li>
                    <li><span onclick="loginLaunch();"><h5>Login</h5></span></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><span onclick="registerLaunch();"><h5>Register</h5></span></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
